parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Security/GoogleAuthenticator.php
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Security/GoogleIdentityAuthenticator.php

