parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$repositoryClass of attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity constructor expects class\\-string\\<Doctrine\\\\ORM\\\\EntityRepository\\<T of object\\>\\>\\|null, 'App\\\\\\\\Repository\\\\\\\\UserRepository' given\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: src/Security/GoogleAuthenticator.php

