html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

body > .container-fluid {
    padding: 70px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.modal-body button, .modal-body a {
    display: none;
}

form.form-nomargin {
    margin-bottom: 0;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
}

/* Sortable */
.sortable-ghost {
    background-color: lightblue;
}
.drag-handle {
    cursor: grab;
}
